.todo-add-item {
    margin-top: 15px;
}

.add-item {
    height: 40px;
    padding: 5px;
    margin-right: 5px;
}

.todo-add-item > button {
    width: 150px;
}

.todo-add-item > input {
    text-transform: capitalize;
}